@mixin background-gradient-all (){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ce0000+0,ff0084+25,b4df5b+52,0fb4e7+78,ff920a+100 */
    background: rgb(206,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,0,0,1) 0%, rgba(255,0,132,1) 25%, rgba(180,223,91,1) 52%, rgba(15,180,231,1) 78%, rgba(255,146,10,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(206,0,0,1) 0%,rgba(255,0,132,1) 25%,rgba(180,223,91,1) 52%,rgba(15,180,231,1) 78%,rgba(255,146,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(206,0,0,1) 0%,rgba(255,0,132,1) 25%,rgba(180,223,91,1) 52%,rgba(15,180,231,1) 78%,rgba(255,146,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0000', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}
.circle{
    position: relative;
    border-radius: 50%;
    display: inline-block;
    width: 170px;
    height: 170px;
    line-height: 1.3;
    z-index: 10;

}