.circles{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  
}


.circle-container {


  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;



  text-align: center;
  margin:0 0 0px;
  //display:inline-block;
  animation: beat 1.25s infinite alternate;
  transform-origin: center;
  &.warning{
    animation: beatwarning .5s infinite alternate;
  }
  &.danger{
    animation: beatdanger .2s infinite alternate;
  }
}

.outer-circle {
  position: relative;
  //display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.26);
  margin: auto;

  height: 180px;
  width: 180px;

  @media screen and (min-width: 992px) {
    height: 220px;
    width: 220px;
  }

  @media screen and (min-width: 1200px) {
    height: 260px;
    width: 260px;
  }



}



@keyframes beat{
  to { transform: scale(1.02); }
}
@keyframes beatwarning{
  to { transform: scale(1.05); }
}
@keyframes beatdanger{
  to { transform: scale(1.1); }
}

.circle {
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  width: 90%;
  height: 90%;
  margin: auto;
  top: 5%;
  left: 5%;
  line-height: 1.3;
  z-index: 10;
  
  .text {
    margin-top: 30%;
    text-align: center;
    z-index: 2;
    position: relative;
  }

  &:before,
  &:after {
    z-index: 1;
    position: absolute;
    content: '';
    border-radius: 50%;
    display: inline-block;
    width: 94%;
    height: 94%;
    background-color: #fff;
    left: 3%;
    top: 3%;
  }

  &:after{
    z-index: 1;
  }

  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: silver;

    .safe &{
      background: forestgreen;
    }

    .danger &{
      background: red;
    }

    .warning &{
      background: darkorange;
    }

    .no-data {
      background: silver;
    }
  }
}